@using MComponents.MImageEditor
@using MComponents.Resources

@inject IStringLocalizer L

<div class="m-image-preview-editor">
    @if (mBrowserFile != null || mEditImage || mImageUrl == null)
    {
        <MImageEditor @ref="mImageEditor" @bind-Image=mBrowserFile />

        <div class="m-image-preview-editor-buttons">
            <button class="m-btn m-btn-primary" @onclick=OnBtnSave>@L[nameof(MComponentsLocalization.Submit)]</button>
            <button class="m-btn m-btn-primary" @onclick=OnBtnBack>@L[nameof(MComponentsLocalization.Back)]</button>
            <button class="m-btn m-btn-primary" @onclick=DeleteImage><i class="fas fa-trash-alt"></i></button>
        </div>
    }
    else
    {
        @*
            <img src="@mImageUrl" style="max-width: 90vw;" />
            <br />
            <br />
            <button class="m-btn m-btn-primary" @onclick=OnBtnEdit>@L[nameof(MComponentsLocalization.Edit)]</button>
        *@
    }
</div>

@code {
    protected bool mEditImage;
    protected MImageEditor mImageEditor;

    protected IBrowserFile mBrowserFile;
    protected string mImageUrl;

    protected void OnBtnEdit()
    {
        mEditImage = true;
    }

    protected virtual Task OnBtnSave()
    {
        return Task.CompletedTask;
    }

    protected virtual Task OnBtnBack()
    {
        return Task.CompletedTask;
    }

    protected virtual Task DeleteImage()
    {
        return Task.CompletedTask;
    }
}
