@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.Net.Http.Json

@inject IFileUploadService FileUploader
@inject IStringLocalizer L

@inherits InputBase<IFile>

<div class="m-input-file-container">

    <div class="m-input-file-dropzone @mDropClass">
        <label>
            <i class="fa-solid fa-cloud-arrow-up fa-3x"></i><br />
            Datei auswählen oder hierher ziehen.
        </label>
        <InputFile OnChange="LoadFiles"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave"
                   title=""
                   multiple />
    </div>

    <div class="m-input-file-list-container">
        <MFileList @ref="mFileList" Files="Values" />
    </div>
</div>


@code {

    protected bool isLoading;

    [Parameter]
    public int MaxAllowedFiles { get; set; } = 1;

    [Parameter]
    public string FileInputName { get; set; }

    [Parameter]
    public IDictionary<string, string> AdditionalHeaders { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Accept { get; set; }

    [Parameter]
    public Attribute[] Attributes { get; set; }

    [Parameter]
    public ICollection<IFile> Values { get; set; }

    [Parameter]
    public EventCallback<ICollection<IFile>> ValuesChanged { get; set; }

    [Parameter]
    public Expression<Func<ICollection<IFile>>> ValuesExpression { get; set; }

    [CascadingParameter]
    protected EditContext CascadedEditContext2 { get; set; }

    protected string mDropClass = string.Empty;

    protected MFileList mFileList;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        //Workaround for bypass check if ValueExpression is set
        parameters.SetParameterProperties(this);

        if (MaxAllowedFiles > 1)
        {
            EditContext = CascadedEditContext2;
        }

        await base.SetParametersAsync(parameters);

        if (MaxAllowedFiles > 1)
        {
            FieldIdentifier = FieldIdentifier.Create(ValuesExpression);
        }
    }

    protected async void LoadFiles(InputFileChangeEventArgs e)
    {
        if (e.FileCount <= 0) //should we set the Document to null?
            return;

        if (AdditionalHeaders == null)
            AdditionalHeaders = new Dictionary<string, string>();

        if (!AdditionalHeaders.ContainsKey(nameof(FileInputName)))
            AdditionalHeaders.Add(nameof(FileInputName), FileInputName);

        var files = e.GetMultipleFiles(int.MaxValue).Take(MaxAllowedFiles).ToArray();

        foreach (var file in files)
        {
            mFileList.SetProgressbar(file, 0);
        }

        await InvokeAsync(StateHasChanged);

        var createdFiles = new List<IFile>();

        foreach (var file in files)
        {
            var createdFile = await FileUploader.UploadFile(file, AdditionalHeaders, OnProgressChanged);
            createdFiles.Add(createdFile);

            mFileList.SetUploadDone(file);

            if (MaxAllowedFiles > 1)
            {
                Values.Add(createdFile);
                await ValuesChanged.InvokeAsync(Values);
            }

            await InvokeAsync(StateHasChanged);
        }

        if (MaxAllowedFiles <= 1)
        {
            CurrentValue = createdFiles.FirstOrDefault();
        }

        await InvokeAsync(StateHasChanged);
    }

    protected void OnProgressChanged(IBrowserFile pFile, long pBytesProcessed)
    {
        mFileList.SetProgressbar(pFile, (int)((float)pBytesProcessed / pFile.Size * 100));
    }

    void HandleDragEnter()
    {
        mDropClass = "active";
        StateHasChanged();
    }

    void HandleDragLeave()
    {
        mDropClass = string.Empty;
    }

    protected override bool TryParseValueFromString(string value, out IFile result, out string validationErrorMessage)
    {
        result = null;
        validationErrorMessage = null;
        return false;
    }
}