@page "/"
@using MComponents.MLoading


<MComponents.MBadge.MBadge>MBadge</MComponents.MBadge.MBadge>

<h1>MSelect</h1>

<br />


<CascadingValue Value="mEditContext">

    <MTabs>

        <MTab Title="Tab1">
            <br />
            <MSelect T="string" @bind-Value="mValue" Options="mValues" />

            <br />
            <MSelect T="string" @bind-Value="mValue" Options="mValues" EnableSearch="true" />


            <br />
            <MSelect T="string" @bind-Values="mSelectedValues" Options="mValues" />
        </MTab>

        <MTab Title="Tab2">
            <br />
            <MSelect T="string" @bind-Values="mSelectedValues" Options="mValues" EnableSearch="true" />

            <br />
            <MSelect T="string" @bind-Value="mValue" Options="mValues" IsDisabled="true" />

            <br />
            <MComponents.InputElements.InputDateTime class="m-form-control" T="DateTime?" @bind-Value="mDateTime0" />

            <br />
            <MComponents.InputElements.InputDateTime class="m-form-control" T="DateTime" @bind-Value="mDateTime1" />
        </MTab>

    </MTabs>

</CascadingValue>


<br />
<br />
<br />

@mDateTime0
<br />
@mDateTime1

<MComponents.MPaint.MPaint />

<br />
<br />
<br />
<br />
 
<MSpinner />

@code {

    protected string mValue;
    protected string[] mValues;
    protected ICollection<string> mSelectedValues;
    protected DateTime? mDateTime0;
    protected DateTime mDateTime1;

    protected EditContext mEditContext = new EditContext(string.Empty);


    override protected void OnInitialized()
    {
        mValues = Enumerable.Range(1, 1000).Select(v => "value" + v).ToArray();
        mSelectedValues = mValues.Take(3).ToList();
    }

}