@page "/querybuilder"

@using MComponents.ExampleApp.Data
@using MComponents.MQueryBuilder
@inject WeatherForecastService ForecastService


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MQueryBuilder T="WeatherForecast">
        <MQueryBuilderField RuleName="@nameof(WeatherForecast.Summary)" />
    </MQueryBuilder>
}

@code {
    private List<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = (await ForecastService.GetForecastAsync(DateTime.Now)).ToList();
    }
}
