@page "/querybuilder"

@using MComponents.ExampleApp.Data
@using MComponents.MQueryBuilder
@inject WeatherForecastService ForecastService

<MQueryBuilder T="WeatherForecast" @bind-RuleGroup="mRuleGroup" @bind-RuleGroup:after="OnRuleGroupChanged">
    <MQueryBuilderField RuleName="Summary" />
</MQueryBuilder>

@if (mResults != null)
{
    <br />
    <hr />
    <br />

    <h6>Results</h6>

    <ul>
        @foreach (var forecast in mResults)
        {
            <li>
                @forecast.Summary
            </li>
        }
    </ul>
}

@code {

    protected MQueryBuilderRuleGroup mRuleGroup = new();

    protected WeatherForecast[] mResults;

    protected async Task OnRuleGroupChanged()
    {
        var forecasts = (await ForecastService.GetForecastAsync(DateTime.Now)).AsQueryable();

        var query = MQueryBuilderHelper.ApplyRules<WeatherForecast>(forecasts, mRuleGroup, (c) =>
          {
              return c switch
              {
                  "Summary" => (u, v) => u.Summary.ToLowerInvariant(),
                  _ => null
              };
          });

        mResults = query.ToArray();
    }
}
