
@if (Wizard != null && !Wizard.FreezeCurrentStep)
{
    <button class="m-wizard-btn m-btn m-btn-success m-btn-md m-btn-tall m-btn-wide" data-action="submit" @attributes="AdditionalAttributes" @onclick="Wizard.OnFinishClicked">
        Speichern
    </button>
}

@code  {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    [CascadingParameter]
    public MWizard Wizard { get; set; }

}