@if (Wizard != null && !Wizard.FreezeCurrentStep)
{
    <button class="m-btn m-btn-primary m-btn-md m-btn-tall m-btn-wide" @attributes="AdditionalAttributes" @onclick="Wizard.OnPrevClicked">
        Zurück
    </button>
}

@code  {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }


    [CascadingParameter]
    public MWizard Wizard { get; set; }

}