@implements IMWizard

@using System.Threading;
@using System.Threading.Tasks;

<CascadingValue TValue="MWizard" Value="this">

    @Steps

    <div class="m-wizard m-wizard--@GetCurrentState()">

        <div class="m-wizard-navigation">

            @{
                int i = 0;
                int visible = 1;
                int visibleCount = WizardSteps.Count(s => s.GetIsVisible());
            }

            @foreach (var entry in WizardSteps)
            {
                if (entry.GetIsVisible())
                {
                    string state = "pending";

                    if (i == CurrentStep)
                        state = "current";

                    int index = i; //local copy for onclick lambda

                    bool canJump = CanJumpTo(i);

                    <div class="m-wizard-navigation-item m-wizard-navigation-item--@state" style="flex: 0 0 calc(100%/@visibleCount); @(!FreezeCurrentStep && canJump ? "cursor: pointer;": "cursor: default;")" @onclick="async () => await OnJumpToClicked(index)">
                        <div class="m-wizard-navigation-item-title-contaier">
                            <span class="m-wizard-navigation-item-number">@(visible).</span>
                            <span class="m-wizard-navigation-item-title">@entry.Title</span>
                        </div>
                        <div class="m-wizard-navigation-item-bar"></div>
                    </div>
                    visible++;
                }

                i++;
            }
        </div>

        <div class="m-wizard-step-container">
            @if (CurrentStep >= 0 && WizardSteps.Count > CurrentStep)
            {
                var currentStep = WizardSteps[CurrentStep];
                <div class="m-wizard-step" @attributes="currentStep.AdditionalAttributes">
                    @if (mEmptyRender)
                    {
                        <span class="m-wizard-empty"></span>
                    }
                    else
                    {
                        if (currentStep.GetIsVisible())
                        {
                            @currentStep.Content.Invoke(currentStep.StepContext)
                        }
                    }
                </div>
            }

            @if (!FreezeCurrentStep)
            {
                <div class="m-wizard-action-group">
                    @ButtonPrev
                    @ButtonNext
                    @ButtonFinish
                </div>
            }
        </div>
    </div>

</CascadingValue>
