@inject TooltipService TooltipService

<div id="m-tooltip-@mId" class="m-tooltip" @onmouseenter="ShowTooltip" @onmouseleave="HideTooltip">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public RenderFragment TooltipContent { get; set; }

    protected Guid mId;

    protected override void OnInitialized()
    {
        mId = Guid.NewGuid();
    }

    protected void ShowTooltip()
    {
        TooltipService.ShowTooltip(new TooltipReference()
            {
                Id = mId,
                Text = Text,
                Content = TooltipContent,
            });
    }

    protected void HideTooltip()
    {
        TooltipService.HideTooltip(mId);
    }

}
