<span class="m-badge m-badge--primary" style="@Style">@ChildContent</span>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Style { get; set; } = null!;
}