$white: #ffffff;
$primary: #5867dd;
$success: #28a745;
$disabled: #f0f1f3;

$text_color: #212529;
$gray: #ebedf2;
$dark: #1f1c1c;

$secondary: #595d6e;

$padding: 0.65rem;
$borderRadius: 0.25rem;

.m-clickable {
    cursor: pointer;
}

/* Buttons ----------------------------------------------------------------------------- */

.m-btn {
    display: inline-block;
    font-weight: normal;
    color: $text_color;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: $padding 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $borderRadius;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow;
    outline-style: none;
}

.m-btn:hover {
    color: $text_color;
    text-decoration-line: none;
}

.m-btn.disabled,
.m-btn:disabled {
    opacity: 0.65;
}

.m-btn-primary {
    color: $white;
    background-color: $primary;
    border-color: darken($primary, 5%);
}

.m-btn-primary:hover {
    color: $white;
    background-color: darken($primary, 5%);
    border-color: darken($primary, 10%);
}

.m-btn-success {
    color: $white;
    background-color: $success;
    border-color: darken($success, 10%);
}

.m-btn-success:hover {
    color: $white;
    background-color: darken($success, 5%);
    border-color: darken($success, 10%);
}

.m-btn-primary.disabled,
.m-btn-primary:disabled {
    color: $white;
    background-color: $disabled;
    border-color: $disabled;
}

.m-btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: $borderRadius;
}

.m-btn-tall {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.m-btn-secondary {
    color: darken($secondary,10%);
    background-color: transparent;
    border-color: lighten($secondary,40%);
    border-width: 1px;
    border-style: solid;
}

.m-btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: lighten($secondary,30%);
}

.m-btn-secondary.disabled,
.m-btn-secondary:disabled {
    color: darken($secondary,10%);
}

.m-btn.m-btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 3rem;
    width: 3rem;

    &.m-btn-sm {
        height: 2.5rem;
        width: 2.5rem;
    }
}


/* Font Awesome ----------------------------------------------------------------------------- */

.m-btn [class^="fa-"],
.m-btn [class*=" fa-"] {
    font-size: 1.2rem;
}

.m-btn i {
    padding-right: 0.5rem;
    vertical-align: middle;
    line-height: 0;
}

.m-btn.m-btn-sm [class*=" fa-"] {
    font-size: 1rem;
}

.m-btn-group-sm > .m-btn i,
.m-btn.m-btn-sm i {
    padding-right: 0.35rem;
}

/* Font Awesome ----------------------------------------------------------------------------- */



/* START Table ----------------------------------------------------------------------------- */

.m-grid-container .m-btn-toolbar {
    display: flex;
    justify-content: space-between;

    button:first-child {
        margin: auto 0 auto auto;
    }
}


.m-grid {
    width: 100%;
    margin: 1rem 0;
    color: $text_color;
    background-color: transparent;
    border-spacing: 0px;
    border-collapse: separate;

    table {
        border-collapse: separate;
        border-spacing: 8px;

        .m-grid-bordered td {
            border: none;
        }
    }

    &.m-grid-striped tbody tr:not(.m-grid-highlight):nth-of-type(2n+1) {
        background-color: #f7f8fa;
    }

    &.m-grid-sticky {
        position: relative;

        thead th {
            background-color: white;
            position: sticky;
        }
    }

    .m-grid-highlight {
        background-color: #dddfe2;
    }

    &.m-grid-hover {
        tbody tr:not(.m-grid-highlight):hover {
            color: $text_color;
            background-color: #eaebeb;
        }
    }

    td, th {
        padding: $padding;
        vertical-align: top;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: $gray;
    }

    thead td,
    thead th {
        font-weight: 500;
        box-shadow: inset 0 -1px 0 darken($gray, 25);
    }

    &:not(.m-grid-bordered) thead td,
    &:not(.m-grid-bordered) thead th {
        border-top-width: 0;
    }

    .m-grid-header-icon {
        float: right;
        line-height: inherit;
    }
}


.m-grid-bordered {
    border-width: 1px;
    border-style: solid;
    border-color: $gray;
    border-collapse: collapse;

    td, th {
        border-width: 1px;
        border-left-width: 0;
        border-style: solid;
        border-color: $gray;
        border-bottom-width: 0;
    }
}


.m-grid-edit-row {
    cursor: default;

    table td {
        padding: 0;
        position: absolute;
        top: 0;
        border-width: 0;
    }

    & > td {
        position: relative;
        padding: 0;
    }

    .m-action-column-cell {
        margin: 0;
    }

    .m-form-control, .m-action-column-cell {
        background: #d4def5;
        border-radius: initial;
        border: 0;
        height: 100%;
    }

    .m-select-content {
        padding-right: 0;
        overflow: hidden;
    }
}

.m-action-column-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: -0.5rem;

    .m-grid-action-icon {
        font-size: 19px;
    }

    .m-grid-action-icon--disabled {
        color: lighten($secondary,30%);
    }
}


//download button
.m-btn.m-btn-icon i {
    padding: 0;
    margin: 0;
    line-height: 0;
}


.m-pagination-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    user-select: none;

    .m-pagination-entry {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .m-pagination-list {


        .m-pagination-entry {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;
            border-radius: $borderRadius;

            &:not(.m-pagination-entry--disabled):not(.m-pagination-entry--more) {
                > a {
                    cursor: pointer;
                }

                &:not(.m-pagination-entry--prev):not(.m-pagination-entry--next) {
                    &:hover {
                        background-color: $primary;
                    }

                    > a:hover {
                        color: white;
                    }
                }
            }

            &.m-pagination-entry--next,
            &.m-pagination-entry--prev {
                background-color: lighten($primary, 30%);

                i {
                    color: $primary;
                }
            }

            &.m-pagination-entry--disabled {
                cursor: default;
                background-color: lighten($primary, 35%);

                i {
                    color: lighten($primary, 23%);
                }
            }

            &.m-pagination-entry--active {
                background-color: $primary;

                a {
                    color: white;
                }
            }

            a {
                color: #74788d;
                font-weight: 500;
                font-size: 1rem;
                padding: 0 0.2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                min-width: 30px;
                min-height: 30px;
                margin: 0;
            }
        }
    }

    .m-pagination-tools {

        .m-pagination-descr {
            flex-grow: 1;
            font-weight: 500;
            color: #74788d;
        }

        select.m-form-control {
            cursor: pointer;
            margin-right: 10px;
            width: min-content;
            padding: 0 5px;
            background-color: lighten($primary, 30%);
            color: $primary;
            font-size: 1.1rem;
            font-weight: 500;
            height: 30px;
        }

        button {
            margin-left: 10px;
        }
    }
}
/* END Table ----------------------------------------------------------------------------- */


/* START Select ----------------------------------------------------------------------------- */
.m-select {
    user-select: none;

    &.m-form-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    span {
        padding: $padding;
        line-height: 1.5;
        display: inline-block;
    }

    &.m-form-control {
        padding: 0;
    }

    &.m-select--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.m-select--disabled {
        cursor: default;
        background: $disabled;

        .m-select-dropdown-icon {
            color: darken($gray,25);
        }
    }

    .m-select-dropdown-icon {
        float: right;
    }
}


.m-select-options-container {
    display: block;
    position: relative;
    user-select: none;

    .m-select-search-container {
        display: block;
        padding: 10px 10px 5px 10px;

        .m-select-search-input {
            height: 2.3em;
            padding: 4px;
        }
    }

    .m-select-options-list-container {
        border: 1px solid #e2e5ec;
        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        box-sizing: border-box;
        background: white;
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        z-index: 50;
        min-width: min-content;

        .m-select-options-list {
            min-height: 230px;
            max-height: 0.5vh;
            height: auto;
            overflow-y: auto;
            list-style: none;
            margin: 0;
            padding: 0;

            .m-select-options-entry {
                padding: 5px 15px;

                &.m-select-options-entry--highlighted {
                    background: darken($gray, 2%);

                    &:hover {
                        background: darken($gray, 3%);
                    }
                }

                &:hover {
                    background: lighten($gray, 2%);
                }
            }
        }
    }
}

.m-checkbox {
    position: relative;
    padding-left: 25px;
    margin: 0;

    > input {
        position: absolute;
        visibility: hidden;

        &:checked ~ span {
            //  background-color: $gray;
            &:after {
                content: "";
                position: absolute;
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid $secondary;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        ~ span {
            position: absolute;
            top: 1px;
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid #d1d7e2;
            border-radius: $borderRadius;
        }
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .container .checkmark:after {
    }
}


.m-grid-row .m-switch {
    display: inline-block;
    width: 100%;
    height: 100%;

    label {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.m-switch {
    position: relative;

    &.m-form-control {
        padding: 0;
        border: 0;
    }

    label {

        input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            color: black;

            &:focus {
                box-shadow: none;
            }

            &:disabled ~ span {
                color: darken($disabled, 25);
                cursor: default;
            }

            ~ span {
                position: relative;
                line-height: 30px;
                height: 30px;
                width: 57px;
                border-radius: 15px;
                cursor: pointer;

                &:before {
                    position: absolute;
                    content: ' ';
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-color: $gray;
                    width: 54px;
                    border-radius: 15px;
                }
            }

            &:empty {
                ~ span {
                    &:after {
                        position: absolute;
                        display: block;
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        line-height: 26px;
                        top: 3px;
                        margin-left: 3px;
                        font-size: 0.9em;
                        text-align: center;
                        border-radius: 15px;
                        content: '\f00d';
                        transition: all 80ms ease-in;
                    }
                }
            }

            &:checked {
                ~ span {
                    &:after {
                        color: white;
                        background-color: $primary;
                        content: '\f00c';
                        margin-left: 26px;
                    }
                }
            }

            &:disabled {
                ~ span {
                    &:after {
                        background-color: darken($gray, 6);
                    }
                }
            }
        }
    }
}

/* END Select ----------------------------------------------------------------------------- */


/* START Wizard ----------------------------------------------------------------------------- */

.m-wizard {
    display: flex;
    flex-direction: column;

    .m-wizard-navigation {
        display: flex;
        flex-direction: row;

        @media(max-width: 768px) {
            flex-direction: column;
        }
    }

    .m-wizard-navigation-item {
        padding: 2rem 0.5rem;
        user-select: none;

        @media(max-width: 768px) {
            padding: 0.5rem 0.5rem;
        }

        .m-wizard-navigation-item-bar {
            height: 4px;
            position: relative;
            background-color: #dee1eb;

            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                height: 4px;
                width: 0;
                background-color: transparent;
                transition: all 0.3s ease;
            }
        }

        &.m-wizard-navigation-item--current .m-wizard-navigation-item-bar {

            &:after {
                width: 100%;
                background-color: $primary;
            }
        }
    }

    .m-wizard-navigation-item--current .m-wizard-navigation-item-title-contaier {
        color: $primary;
    }

    .m-wizard-navigation-item-title-contaier {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: darken($gray, 30);

        span {
            font-size: 2rem;
            margin-right: 0.5rem;
        }
    }

    .m-wizard-step-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .m-wizard-step {
        display: block;
        width: 60%;
        padding: 20px 0;
        border-bottom: 1px solid #eeeef4;

        @media(max-width: 768px) {
            width: 90%;
        }
    }

    .m-wizard-action-group {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }

    .m-wizard-btn {
        text-transform: uppercase;
    }

    &.m-wizard--first .m-wizard-btn[data-action="submit"], &.m-wizard--between .m-wizard-btn[data-action="submit"] {
        display: none;
    }

    &.m-wizard--first .m-wizard-btn[data-action="prev"] {
        display: none;
    }

    .m-wizard-btn[data-action="next"] {
        margin: auto 0 auto auto;
    }

    &.m-wizard--last .m-wizard-btn[data-action="next"] {
        display: none;
    }
}

/* END Wizard ----------------------------------------------------------------------------- */



/* START Accordion ------------------------------------------------------------------------ */

.m-accordion {
    .m-accordion-card {
        display: flex;
        flex-direction: column;
        border: 1px solid $gray;
        border-radius: $borderRadius;

        &:first-of-type {
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:first-of-type) .m-accordion-card-header:first-child {
            border-radius: 0;
        }

        &:last-of-type {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .m-accordion-card-header {
            cursor: pointer;
            margin: 0;
            padding: 0;
            border-bottom: 0;
            background-color: #f7f8fa;

            &.m-readonly {
                cursor: default;
            }

            .m-accordion-card-title {
                margin: 0;
                font-size: 1.1rem;
                font-weight: 500;
                padding: 1rem 1rem;
                color: #595d6e;
                display: block;
            }
        }

        .m-accordion-card-body {
            padding: 1.25rem;
            font-size: 1rem;
            flex: 1 1 auto;
        }
    }
}

/* END Accordion -------------------------------------------------------------------------- */


.m-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 0;
    margin: 0;
    padding: 1rem 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: $borderRadius;

    &.m-badge--primary {
        color: white;
        background: $primary;
    }
}

.m-paint {
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: $borderRadius;
    margin-bottom: 10px;
}

.m-form-control {
    display: block;
    width: 100%;
    height: calc(#{$padding} * 2 + 1.3rem + 1px);
    color: #0a0a0a;
    background-color: white;
    background-clip: padding-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 226, 233);
    border-radius: $borderRadius;
    padding: $padding;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
    transition-property: border-color, box-shadow;

    &:focus {
        color: darken($dark, 5%);
        background-color: white;
        border-color: #9aabff;
        outline-width: 0;
        box-shadow: rgba($primary, 0.05) 0 0 0 0.15rem;
    }

    &:disabled {
        background-color: $disabled;
    }
}

.m-form-row.multiple-forms-in-row {
    display: flex;
    flex-wrap: wrap;
}


.m-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.m-scrollbar::-webkit-scrollbar-thumb {
    border-radius: $borderRadius*2;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: rgba(176, 176, 176, 0.40);
}

.m-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: $borderRadius*2;
}

.m-scrollbar:hover {
    cursor: pointer;
}
