$white: #000000;
$primary: #a5cc1d;
$success: #a5cc1d;
$disabled: #f0f1f3;

$text_color: #212529;
$gray: #ebedf2;
$dark: #1f1c1c;

$secondary: #595d6e;

$padding: 0.65rem;
$borderRadius: 0.25rem;

@import 'mcomponents-main.scss';
