$white: #ffffff;
$primary: black;
$success: #28a745;
$disabled: #282424;

$main_bg: #151515;

$input_bg: #202020;

$text_color: #212529;
$gray: #ebedf2;
$dark: #1f1c1c;
$lightgray: #707070;

$secondary: #404040;

$padding: 0.65rem;
$borderRadius: 0;

@import 'mcomponents-main.scss';

.m-pagination-container .m-pagination-list .m-pagination-entry.m-pagination-entry--next i, .m-pagination-container .m-pagination-list .m-pagination-entry.m-pagination-entry--prev i {
    color: $white !important;
}

.m-pagination-container .m-pagination-list .m-pagination-entry.m-pagination-entry--next, .m-pagination-container .m-pagination-list .m-pagination-entry.m-pagination-entry--prev {
    background-color: $primary !important;
}

.m-pagination-container .m-pagination-tools select.m-form-control {
    color: $white !important;
    background-color: $primary !important;
}

.m-form-control {
    border: none;
    border-bottom: 1px solid $lightgray;
    background-color: $input_bg;
    color: $white;
    transition: background-color 0.1s;

    &:disabled {
        background-color: $input_bg;
        cursor: not-allowed;
    }

    &:focus {
        color: $white;
        background-color: lighten($input_bg, 5%);
        border-color: $white;
    }
}

.m-grid thead td, .m-grid thead th {
    box-shadow: inset 0 -1px 0 lighten($primary, 75%) !important;
}

.m-grid-edit-row .m-form-control, .m-grid-edit-row .m-action-column-cell {
    background: #727272;
}

.m-grid {

    thead tr {
        background-color: $white;
    }

    tbody tr {
        background-color: $main_bg;
        color: $white;
    }

    .m-grid-highlight {
        background-color: lighten($main_bg, 15%);
    }

    &.m-grid-hover tbody tr:not(.m-grid-highlight):not(.m-grid-row--delete) {

        &:nth-of-type(2n+1) {
            background-color: $main_bg;
            color: $white;
        }

        &:hover {
            background-color: $main_bg;
            color: $white;
        }
    }

    .m-grid-td-loading {
        visibility: visible;
        color: darken($white, 35%);
    }
}

.m-switch label input ~ span:before {
    color: $white;
    background-color: $white !important;
}

.m-switch label input ~ span:after {
    color: black;
    border-color: lighten($primary, 50%) !important;
}

.m-btn {
    color: $primary;
    background-color: $white;
}

.m-btn-secondary:hover {
    background-color: $white;
}

button:focus {
    outline: unset;
}

button:active {
    opacity: 0.9;
    transition: 0.1s;
}

.m-paint {
    border-color: $white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.m-accordion {
    .m-accordion-card {
        border: unset;

        .m-accordion-card-header {
            background-color: $input_bg;
            border: 1px solid $lightgray;

            .m-accordion-card-title {
                color: $white;
            }
        }

        .m-accordion-card-body {
            border: 1px solid $lightgray;
        }
    }
}

.m-wizard {
    .m-wizard-navigation-item-title-contaier {
        color: $lightgray;
    }

    .m-wizard-navigation-item--current .m-wizard-navigation-item-title-contaier {
        color: $gray;
    }

    .m-wizard-navigation .m-wizard-navigation-item-bar {
        background-color: $lightgray;
    }

    .m-wizard-navigation-item.m-wizard-navigation-item--current .m-wizard-navigation-item-bar {

        &:after {
            background-color: $gray;
        }
    }
}
